<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@keyword.image.medium.url) if @keyword.image? %>
</p>
<p>
  <strong>Word:</strong>
  <%= @keyword.word %>
</p>

<% cache("keywords_show_id_#{@keyword.id}_p_#{params[:page]}", skip_digest: true, expires_in: 60.minutes) do %>
    <h2>Latest tweets (all: <%= @keyword.tweets.count %>, on page: <%= @tweets.size %>)</h2>

    <ul>
    <% @tweets.each do |tweet| %>
        <li>
          <img src="<%= tweet.user_image_url %>" width="30"><%= tweet.user_screen_name %>: <%= auto_link tweet.text, html:{ target: '_blank' } %>
          <%= tweet.tweet_created_at.strftime("Twitted on %d/%m/%Y at %H:%M") %>
        </li>
    <% end %>
    </ul>
    <div style="padding: 20px;border:1px solid #CCC;text-align: center">
        <%= will_paginate @tweets %>
    </div>
<% end %>

<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
